#cancel {
  display: none;
}

#preloader {
  visibility: hidden;
}

.row {
  margin-bottom: 0px;
}

/*------------------ Color ------------------*/
a {
  color: #ff9800
}

.progress {
  background-color: #ffe0b2;
}

.progress .indeterminate {
  background-color: #ff9800;
}

.input-field input[type="text"]:focus+label,
.input-field input[type="number"]:focus+label,
.input-field .prefix.active {
  color: #ff9800 !important;
}

.input-field input[type="text"]:focus,
.input-field input[type="number"]:focus {
  border-bottom: 1px solid #ff9800 !important;
  box-shadow: 0 1px 0 0 #ff9800 !important;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
  border: 2px solid #ff9800;
  background-color: #ff9800;
}

/*-------------------------------------------*/

/*------------------ Map --------------------*/
#map {
  height: 85vh;
}
