#cancel {
  display: none;
}

#preloader {
  visibility: hidden;
}

.row {
  margin-bottom: 0px;
}

/*------------------ Color ------------------*/
a {
  color: #ff9800;
}

.progress {
  background-color: #ffe0b2;
}

.leaflet-control-geocoder-icon:focus {
  background-color: #e0e0e0;
}

button:focus,
.progress .indeterminate {
  background-color: #ff9800;
}

input[type=text]:focus+label,
input[type=number]:focus+label,
.input-field .prefix.active {
  color: #ff9800 !important;
}

input[type=text]:focus,
input[type=number]:focus {
  border-bottom: 1px solid #ff9800 !important;
  box-shadow: 0 1px 0 0 #ff9800 !important;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
  border: 2px solid #ff9800;
  background-color: #ff9800;
}

/*-------------------------------------------*/

/*------------------ Map --------------------*/
#map {
  height: 100vh;
}

/*-------------------------------------------*/

/*------------------ Expert -----------------*/

.card .card-content p {
  word-wrap: break-word;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  text-transform: none;
}

/*-------------------------------------------*/

/*------------------ Icons -----------------*/

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

.icon-close {
  background-image: url("../icons/close.svg");
}

.icon-flash {
  background-image: url("../icons/flash.svg");
}

.icon-help {
  background-image: url("../icons/help.svg");
}

.icon-search {
  background-image: url("../icons/search.svg");
}

.icon-share {
  background-image: url("../icons/share.svg");
}

/*-------------------------------------------*/
