body[data-theme="dark"] {
  background-color: #263238;
  color: white;
  
  .modal-container {
    background-color: #263238;
    color: white;
    .modal-header {
      background-color: #263238;
      color: white;
    }
  }

  .leaflet-popup-content-wrapper,
  .card,
  .form-select,
  .form-input,
  .form-checkbox .form-icon {
    background-color: #37474f !important;
    color: white;
  }

  .modal {
    &.active .modal-overlay, &:target .modal-overlay {
      background: rgba(75, 75, 75, 0.5);
    }
  }
}
