body[data-theme="dark"] {
  background-color: #263238;
  color: white;

  .modal-header,
  .modal-container {
    background-color: #263238;
    color: white;
  }

  .card,
  .btn,
  .empty,
  .form-select,
  .form-input,
  .form-checkbox .form-icon,
  .leaflet-popup-content-wrapper,
  .leaflet-bar a {
    background-color: #37474f !important;
    color: white;
  }

  .divider {
    border-top-color: #37474f;
  }

  .modal {
    &.active .modal-overlay, &:target .modal-overlay {
      background: rgba(75, 75, 75, 0.5);
    }
  }
}
