.icon {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-bottom: 4px;
  &.icon-close {
    background-image: url("../../icons/close.svg");
  }
  &.icon-external {
    background-image: url("../../icons/external.svg");
  }
  &.icon-flag {
    background-image: url("../../icons/flag.svg");
  }
  &.icon-flash {
    background-image: url("../../icons/flash.svg");
  }
  &.icon-help {
    background-image: url("../../icons/help.svg");
  }
  &.icon-mapillary {
    background-image: url("../../icons/mapillary.svg");
  }
  &.icon-pencil {
    background-image: url("../../icons/pencil.svg");
  }
  &.icon-search {
    background-image: url("../../icons/search.svg");
  }
  &.icon-settings {
    background-image: url("../../icons/settings.svg");
  }
  &.icon-share {
    background-image: url("../../icons/share.svg");
  }
}
