@import 'dark';
@import 'icons';

.leaflet-control-attribution a {
  color: #302ecd;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: none;
}

/*---------- Content ------------*/
#map {
  height: 93.9vh;
  z-index: 0;
}

#notes {
  justify-content: space-around;
}

#notes.reverse {
  // flex-flow: row-reverse wrap-reverse;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
}

#notes > .column > .card {
  border: 0;
  box-shadow: 0 .25rem 1rem rgba(48,55,66,.15);
}

#notes .card p,
.leaflet-popup-content p {
  margin: 0;
}

#information-map {
  height: 30vh;
}

.modal-container {
  max-width: 800px;
}

body {
  &[data-editor-id="false"] .link-editor-id,
  &[data-editor-josm="false"] .link-editor-josm,
  &[data-editor-level0="false"] .link-editor-level0,
  &[data-tool-openstreetmap="false"] .link-osm,
  &[data-tool-mapillary="false"] .link-tool-mapillary {
    display: none;
  }
}

body {
  &[data-authenticated="false"] .requires-authentication {
    display: none;
  }
}

/*---------- Other ------------*/
body.deprecated-browser #deprecation-warning {
  display: block !important;
}

.img-preview {
  height: 200px;
}

.c-default {
  cursor: default;
}

.marker-container {
  width: 60px;
  height: 60px;
}

.faq-color {
  border-radius: .1rem;
  margin: .25rem 0;
  padding: 3rem .5rem .5rem;
  min-height: 150px;
}

img.marker-icon {
  filter: drop-shadow(10px 5px 5px rgba(0, 0, 0, 0.3));
}

/*---------- Mapillary ----------*/
.mapillary-image {
  max-width: 320px;
  height: 100%;
  max-height: 240px;
  min-height: 18vh;

  .mapillary-image-link {
    top: 6px;
    left: 0px;
    img {
      max-height: 32px;
    }
  }

  .mapillary-image-user {
    z-index: 1;
    bottom: -24px;
    right: 0px;
    font-size: 0.5rem;
  }
}

/*---------- Toasts ------------*/

#toast-container {
  position: fixed;
  top: 5%;
  right: 5%;
  z-index: 500;
  > .toast {
    margin-top: 10px;
    cursor: default;
  }
}

/*---------- Labels ------------*/
.label-green-dark {
  background: #388e3c;
  color: #fff;
}
.label-green {
  background: #4caf50;
  color: #fff;
}
.label-yellow {
  background: #ffeb3b;
  color: #fff;
}
.label-amber {
  background: #ffa000;
  color: #fff;
}
.label-orange {
  background: #ff9800;
  color: #fff;
}
.label-red {
  background: #f44336;
  color: #fff;
}
