# The list of supported browsers is taken from the Vite Documentation:
# https://vitejs.dev/guide/build.html#browser-compatibility

defaults
chrome >= 107
firefox >= 104
edge >= 107
safari >= 16
not ie <= 11
