# The list of supported browsers is taken from the Vite Documentation:
# https://vitejs.dev/guide/build.html#browser-compatibility

defaults
chrome >= 87
firefox >= 78
edge >= 88
safari >= 14
not ie <= 11
