# The list of supported browsers is taken from the Vite Documentation:
# https://vitejs.dev/guide/build.html#browser-compatibility

defaults
chrome >= 111
firefox >= 114
edge >= 111
safari >= 16.4
not ie <= 11
