# editorconfig.org

root = true

[*]
# Unix style files
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,hbs}]
indent_style = space
indent_size = 2

[app/locales/*.json]
indent_style = space
indent_size = 4
insert_final_newline = false
