{
    "root": true,
    "parserOptions": {
      "sourceType": "module"
    },
    "env": {
      "browser": true,
      "es2020": true
    },
    "globals": {
      "L": "readonly",
      "osmAuth": "readonly",
      "__VERSION__": "readonly",
      "OPENSTREETMAP_SERVER": "readonly",
      "OPENSTREETMAP_OAUTH_KEY": "readonly",
      "OPENSTREETMAP_OAUTH_SECRET": "readonly",
      "MAPILLARY_CLIENT_ID": "readonly"
    },
    "extends": ["eslint:recommended"],
    "rules": {
      "semi": "warn",
      "semi-style": "error",
      "semi-spacing": "warn",
      "camelcase": "error",
      "quotes": ["warn", "single", {
        "avoidEscape": true,
        "allowTemplateLiterals": false
      }],
      "brace-style": "error",
      "indent": ["error", 2],
      "no-eval": "error",
      "no-implied-eval": "error",

      "prefer-const": "error",
      "no-var": "warn",
      "prefer-arrow-callback": "warn",
      "prefer-rest-params": "error",
      "prefer-spread": "error",
      "prefer-template": "warn",
      "template-curly-spacing": "warn",
      "symbol-description": "error",
      "object-shorthand": "warn",
      "prefer-promise-reject-errors": "error",
      "prefer-destructuring": "warn",
      "prefer-numeric-literals": "warn",

      "no-new-object": "error",
      "eqeqeq": ["error", "smart"],
      "curly": ["error", "all"],
      "dot-location": ["error", "property"],
      "dot-notation": "error",
      "no-array-constructor": "error",
      "no-throw-literal": "error",
      "no-self-compare": "error",
      "no-useless-call": "warn",
      "spaced-comment": "warn",
      "no-multi-spaces": "warn",
      "no-new-wrappers": "error",
      "no-script-url": "error",
      "no-void": "warn",
      "vars-on-top": "warn",
      "yoda": ["error", "never"],
      "require-await": "warn",
      "require-jsdoc": ["error", {
        "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": false,
          "ClassDeclaration": false,
          "ArrowFunctionExpression": false
        }
      }],
      "valid-jsdoc": ["error", {
        "prefer": {
          "return": "returns"
        },
        "requireReturnType": true,
        "matchDescription": ".+",
        "requireParamDescription": false,
        "requireReturnDescription": false
      }],
      "wrap-iife": ["error", "inside"],
      "no-unused-expressions": "error",
      "no-useless-constructor": "error",
      "require-atomic-updates": "off", // see https://github.com/eslint/eslint/issues/11899
    }
}
