// Default values as defined in _variables.scss: https://github.com/picturepan2/spectre/blob/master/src/_variables.scss
$primary-color: #5755d9 !default;
$dark-color: #303742 !default;
/*$light-color: #fff !default;
$success-color: #32b643 !default;
$warning-color: #ffb700 !default;
$error-color: #e85600 !default;
$code-color: #d73e48 !default;
$highlight-color: #ffe9b3 !default;
$link-color: $primary-color !default;*/

:root {
  --primary-color: #{$primary-color};

  --background-color: white;
  --box-shadow-color: #546e7a;

  --green-dark-primary: #2e7d32;
  --green-dark-secondary: #286c2b;

  --green-primary: #689f38;
  --green-secondary: #5b8c31;

  --lime-primary: #afb42b;
  --lime-secondary: #9ca126;

  --amber-primary: #ffa000;
  --amber-secondary: #e69000;

  --orange-primary: #f57c00;
  --orange-secondary: #d66c00;

  --red-primary: #e53935;
  --red-secondary: #e2221d;
}
