:root {
  --green-dark-primary: #2e7d32;
  --green-dark-secondary: #286c2b;

  --green-primary: #689f38;
  --green-secondary: #5b8c31;

  --lime-primary: #afb42b;
  --lime-secondary: #9ca126;

  --amber-primary: #ffa000:
  --amber-secondary: #e69000;

  --orange-primary: #f57c00;
  --orange-secondary: #d66c00;

  --red-primary: #e53935;
  --red-secondary: #e2221d;
}
