.note-marker-icon {
  svg {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.3));
    transition: transform 500ms var(--exponential-ease-out);
    transform-origin: bottom;
  }
  &:focus svg {
    transform: scale(1.2);
  }
}

.marker {
  width: 25px;
  height: 40px;

  &.green-dark {
    --fill-color: var(--green-dark-primary);
    --stroke-color: var(--green-dark-secondary);
  }
  &.green {
    --fill-color: var(--green-primary);
    --stroke-color: var(--green-secondary);
  }
  &.lime {
    --fill-color: var(--lime-primary);
    --stroke-color: var(--lime-secondary);
  }
  &.amber {
    --fill-color: var(--amber-primary);
    --stroke-color: var(--amber-secondary);
  }
  &.orange {
    --fill-color: var(--orange-primary);
    --stroke-color: var(--orange-secondary)
  }
  &.red {
    --fill-color: var(--red-primary);
    --stroke-color: var(--red-secondary);
  }
}
