<div class="modal-body">
  <p class="text-center" data-i18n="description.customArea">Select countries by clicking on them or draw a custom shape using the toolbar on the left</p>
  <div id="modal-area-selector-content"></div>
</div>

<div class="modal-footer">
  <!--<a class="btn btn-primary modal-close" data-i18n="action.save">Save</a>-->
  <a class="btn btn-link modal-close" data-i18n="action.close">Close</a>
</div>
