<div class="modal" data-modal="comments">
  <a class="modal-overlay modal-close" aria-label="Close" data-i18n-aria-label="action.close"></a>

  <div class="modal-container">
    <div class="modal-body">
      <div id="modal-comments-content" class="content clear-on-modal-close"></div>
    </div>

    <div class="modal-footer">
      <a id="modal-comments-note-link" class="btn btn-primary float-left" target="_blank" rel="noopener">
        <svg class="icon"><use xlink:href="#icon-external"></use></svg>
        <span data-i18n="action.openstreetmap">OpenStreetMap</span>
      </a>
      <a class="btn btn-link modal-close" data-i18n="action.close">Close</a>
    </div>
  </div>
</div>
