<div class="modal-body">
  {{> nav}}
</div>

<div class="modal-footer">
  <button class="btn btn-primary search-trigger">
    <svg class="icon"><use xlink:href="#icon-search"></use></svg>
    <span data-i18n="action.search">Search</span>
  </button>
  <a class="btn btn-link modal-close" data-i18n="action.close">Close</a>
</div>
