<div class="modal-body">
  <h2 class="text-center" data-i18n="header.faq">FAQ</h2>
  <h4 data-i18n="help.colors.title">What is the meaning of the colours?</h4>
  <p data-i18n="help.colors.description">Every colors represents the age of the note</p>

  <div class="columns">
    <div class="column col-4 col-md-6">
      <div class="faq-color label-green-dark">
        <b data-i18n="help.colors.darkgreen">Dark Green</b>
        <div data-i18n="help.colors.descriptions.darkgreen" class="text-small">Between one second and one day</div>
      </div>
    </div>
    <div class="column col-4 col-md-6">
      <div class="faq-color label-green">
        <b data-i18n="help.colors.green">Green</b>
        <div data-i18n="help.colors.descriptions.green" class="text-small">Between one and 31 days</div>
      </div>
    </div>
    <div class="column col-4 col-md-6">
      <div class="faq-color label-lime">
        <b data-i18n="help.colors.lime">Lime</b>
        <div data-i18n="help.colors.descriptions.lime" class="text-small">Between one and six months</div>
      </div>
    </div>
    <div class="column col-4 col-md-6">
      <div class="faq-color label-amber">
        <b data-i18n="help.colors.amber">Amber</b>
        <div data-i18n="help.colors.descriptions.amber" class="text-small">Between six months and one year</div>
      </div>
    </div>
    <div class="column col-4 col-md-6">
      <div class="faq-color label-orange">
        <b data-i18n="help.colors.orange">Orange</b>
        <div data-i18n="help.colors.descriptions.orange" class="text-small">Between one and two years</div>
      </div>
    </div>
    <div class="column col-4 col-md-6">
      <div class="faq-color label-red">
        <b data-i18n="help.colors.red">Red</b>
        <div data-i18n="help.colors.descriptions.red" class="text-small">Two or more years</div>
      </div>
    </div>
  </div>

  <div class="divider"></div>

  <h2 class="text-center" data-i18n="header.about">About</h2>
  <p data-i18n="about.description">
    NotesReview is an open source project. You are currently using version {{version}}.
    The source code is available on <a href="https://github.com/ENT8R/NotesReview" target="_blank" rel="noopener">Github</a>.
  </p>
  <p data-i18n="about.contribution">
    You can support the project by <a href="https://poeditor.com/join/project/oVilUChBdf" target="_blank" rel="noopener">translating</a>
    it or by <a href="https://github.com/ENT8R/NotesReview/issues" target="_blank" rel="noopener">reporting bugs</a>.
  </p>
  <p class="text-center" data-i18n="about.author">
    Made with ❤️ by <a href="mailto:info.ent8r@gmail.com">ENT8R</a>
  </p>
  <div class="text-center">
    <a href="https://liberapay.com/ENT8R/donate" target="_blank" rel="noopener">
      <div class="liberapay-logo">
        <svg class="icon"><use xlink:href="#assets-liberapay"></use></svg>
        <b data-i18n="about.donate">Donate</b>
      </div>
    </a>
  </div>
</div>

<div class="modal-footer">
  <a class="btn btn-link modal-close" data-i18n="action.close">Close</a>
</div>
