<div class="modal-body">
  <div id="mapillary" class="columns clear-on-modal-close"></div>
</div>

<div class="modal-footer">
  <a class="btn btn-primary float-left" id="mapillary-link" href="#" target="_blank" rel="noopener">
    <svg class="icon"><use xlink:href="#icon-external"></use></svg>
    <span data-i18n="action.mapillary">Mapillary</span>
  </a>
  <a class="btn btn-link modal-close" data-i18n="action.close">Close</a>
</div>
