<div class="modal" data-modal="notice">
  <a class="modal-overlay modal-close" aria-label="Close" data-i18n-aria-label="action.close"></a>

  <div class="modal-container">
    <div class="modal-body">
      <div class="content">
        <svg class="p-centered"><use xlink:href="#illustration-new-message"></use></svg>
        <h5 class="text-center">
          NotesReview now has a <b>new, own backend</b> for finding notes!
        </h5>
        <p class="text-center">
          This allows <b>flexible and noticeable faster queries</b> and easier integration of future changes and additions.<br>
          <sub><mark>You can find the source code of the new backend here: <a href="https://github.com/ENT8R/notesreview-api">https://github.com/ENT8R/notesreview-api</a></mark></sub>
        </p>
        <div class="divider"></div>
        <p class="text-center">
          Except for faster queries and an improved search, you probably will not notice a difference between the new and the old backend. But this does not mean that there will not be any changes in upcoming versions. Stay tuned for features like regex search and labelling of notes for an even more efficient workflow.
        </p>
        <p class="text-center">
          If you spotted a bug or noticed weird and unexpected behaviour, please open a new issue at <a href="https://github.com/ENT8R/NotesReview/issues">https://github.com/ENT8R/NotesReview/issues</a>
        </p>
        <div class="divider"></div>
        <div class="text-center"><b>Thank you for using NotesReview! ❤️</b></div>
      </div>
    </div>

    <div class="modal-footer">
      <a class="btn btn-link modal-close" data-i18n="action.close">Close</a>
    </div>
  </div>
</div>
