<div class="modal-header">
  <div class="modal-title h2 text-center" data-i18n="header.share">Share</div>
</div>

<div class="modal-body">
  <p>
    <svg class="p-centered"><use xlink:href="#illustration-share"></use></svg>
  </p>

  <!--<span data-i18n="description.share">Copy this link to share the current query:</span>-->
  <div class="form-group">
    <div class="has-icon-right">
      <input class="form-input" type="text" id="permalink" readonly>
      <svg id="permalink-copy" class="btn btn-link icon form-icon p-0"><use xlink:href="#icon-clipboard"></use></svg>
    </div>
  </div>

  <div class="form-group">
    <label class="form-checkbox">
      <input type="checkbox" class="update-permalink" id="share-map">
      <i class="form-icon"></i>
      <span data-i18n="description.shareView">Share current view of the map</span>
    </label>

    <label class="form-checkbox" id="share-polygon-checkbox">
      <input type="checkbox" class="update-permalink" id="share-polygon" checked=>
      <i class="form-icon"></i>
      <span data-i18n="description.sharePolygon">Share shape for custom area selection</span>
    </label>
  </div>
</div>

<div class="modal-footer">
  <a id="download" class="btn btn-primary float-left">
    <svg class="icon"><use xlink:href="#icon-download"></use></svg>
    <span data-i18n="action.download">Download data (.json)</span>
  </a>

  <a class="btn btn-link modal-close" data-i18n="action.close">Close</a>
</div>
