/* Class selector is used twice in order to increase specificity
and override additional layout used by Spectre.css
see https://developer.mozilla.org/en-US/docs/Web/CSS/Specificity */
.icon.icon {
  vertical-align: bottom;
  width: 24px;
  height: 24px;
  &.icon-small {
    width: 20px;
    height: 20px;
  }
}

.country-flag {
  vertical-align: text-top;
}
