<head>
  <meta charset="utf-8">

  <meta name="description" content="An interface for searching and resolving OpenStreetMap notes">
  <meta name="keywords" content="OpenStreetMap, OSM, notes, OpenStreetMap Notes, NotesReview, review, search, find">
  <meta name="author" content="ENT8R">
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="color-scheme" content="dark light">

  <link rel="manifest" href="manifest.json">
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="white">
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="black">

  <meta name="google-site-verification" content="gaRDzpOXaGByiVCIMlvdCMJUb7AedHUGUcBnyaemO8Y" />

  <meta http-equiv="Content-Security-Policy"
        content="default-src 'self';
                 script-src 'self' 'unsafe-eval' blob: https://unpkg.com;
                 style-src 'self' 'unsafe-inline' https://unpkg.com;
                 img-src 'self' http://* https://* data:;
                 connect-src *;
                 object-src 'none';
                 frame-src 'self' http://127.0.0.1:8111;">

  <title>NotesReview</title>

  <link rel="stylesheet"
        href="https://unpkg.com/spectre.css@0.5.9/dist/spectre.min.css"
        integrity="sha384-0pZXcd7Aq/G9HTCOUwvvpy9s5QCu8jkdmAcsCLFchXEH95ixikypH8uUia/pJw/h"
        crossorigin="anonymous">
  <!-- Experimental features are needed because of the progress bar https://picturepan2.github.io/spectre/experimentals/progress.html -->
  <link rel="stylesheet"
        href="https://unpkg.com/spectre.css@0.5.9/dist/spectre-exp.min.css"
        integrity="sha384-QmU+qsBCrMa/VMrdWpy6uHH3lweFqWcyTD96CeuyY6dqOgqYXca465g5BbCYgVco"
        crossorigin="anonymous">

  <link rel="stylesheet"
        href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
        integrity="sha384-Nh5DPXalR9stszhRpPoPEIgr5F2M4xe7DWJ7iqTp8FtJz0cvNdO/NvY2yjUSLfIS"
        crossorigin="anonymous">
  <link rel="stylesheet"
        href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css"
        integrity="sha384-pmjIAcz2bAn0xukfxADbZIb3t8oRT9Sv0rvO+BR5Csr6Dhqq+nZs59P0pPKQJkEV"
        crossorigin="anonymous">
  <link rel="stylesheet"
        href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css"
        integrity="sha384-wgw+aLYNQ7dlhK47ZPK7FRACiq7ROZwgFNg0m04avm4CaXS+Z9Y7nMu8yNjBKYC+"
        crossorigin="anonymous">
  <link rel="stylesheet"
        href="https://unpkg.com/leaflet-control-geocoder@2.4.0/dist/Control.Geocoder.css"
        integrity="sha384-gOibXC9S5JpMrpEP0ee6wCSVHjFSEuOzLLzTUmg58qM+mJ1rI8h/aY3lS9YUmo55"
        crossorigin="anonymous">

  <link rel="shortcut icon" type="image/x-icon" href="./icon.png">

  <!-- chrome >= 67, edge >= 75, firefox >= 63, not ie <= 11, opera >= 64, not safari all -->
  <script src="https://unpkg.com/@webcomponents/custom-elements@1.5.0/custom-elements.min.js"
          integrity="sha384-MuvgWkZtR5gKI1zZ2H1TuDlqQ4/z8sH6ZsPKqakz8yXjBtmK3I6E/WrlCwKBb+Io"
          crossorigin="anonymous"></script>

  <script type="application/ld+json">{{{structuredData}}}</script>
</head>
