<header class="navbar px-1">
  <section class="navbar-section">
    <a id="login" class="btn m-1">
      <svg class="icon"><use xlink:href="#icon-account"></use></svg>
      <span class="hide-md" data-i18n="action.login">Login</span>
    </a>
    <a id="logout" class="btn m-1 d-hide">
      <figure id="user-avatar" class="avatar avatar-sm mx-1 mb-1"></figure>
      <span class="hide-md" data-i18n="action.logout">Login</span>
    </a>

    <a id="toggle-view" class="btn m-1">
      <div data-view="map" class="d-hide">
        <svg class="icon"><use xlink:href="#icon-list"></use></svg>
        <span class="hide-md" data-i18n="description.showList">Show in a list</span>
      </div>
      <div data-view="list" class="d-hide">
        <svg class="icon"><use xlink:href="#icon-map"></use></svg>
        <span class="hide-md" data-i18n="description.showMap">Show on a map</span>
      </div>
    </a>
  </section>

  <section class="navbar-section hide-sm">
    <svg class="p-centered p-1" height="44" aria-hidden="true">
      <use xlink:href="#assets-notesreview-horizontal"></use>
    </svg>
  </section>

  <section class="navbar-section">
    <button id="search" class="btn btn-primary m-1 flex-grow">
      <svg class="icon"><use xlink:href="#icon-search"></use></svg>
      <span class="hide-xs" data-i18n="action.search">Search</span>
    </button>
    <button class="btn btn-primary modal-trigger m-1 flex-grow" data-modal="filter" aria-label="Apply a filter to the selection" data-i18n data-i18n-aria-label="accessibility.filter">
      <svg class="icon"><use xlink:href="#icon-filter"></use></svg>
      <span class="hide-xs" data-i18n="action.filter">Filter</span>
    </button>

    <button class="btn btn-action modal-trigger m-1" data-modal="help" aria-label="Open frequently asked questions" data-i18n data-i18n-aria-label="accessibility.openFaq">
      <svg class="icon"><use xlink:href="#icon-help"></use></svg>
    </button>
    <button class="btn btn-action modal-trigger m-1" data-modal="share" aria-label="Share the current query" data-i18n data-i18n-aria-label="accessibility.shareQuery">
      <svg class="icon"><use xlink:href="#icon-share"></use></svg>
    </button>
    <button class="btn btn-action modal-trigger m-1" data-modal="settings" aria-label="Open settings" data-i18n data-i18n-aria-label="accessibility.openSettings">
      <svg class="icon"><use xlink:href="#icon-settings"></use></svg>
    </button>
  </section>
</header>
