<head>
  <meta charset="utf-8">

  <meta name="description" content="An interface for searching and resolving OpenStreetMap notes">
  <meta name="keywords" content="OpenStreetMap, OSM, notes, OpenStreetMap Notes, NotesReview, review, search, find">
  <meta name="author" content="ENT8R">
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="color-scheme" content="dark light">

  <meta property="og:title" content="NotesReview">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://notesreview.org/">
  <meta property="og:image" content="https://notesreview.org/assets/logo.jpg">
  <meta property="og:description" content="An interface for searching and resolving OpenStreetMap notes">

  <link rel="manifest" href="manifest.json">
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="white">
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="black">

  <meta name="google-site-verification" content="gaRDzpOXaGByiVCIMlvdCMJUb7AedHUGUcBnyaemO8Y" />

  <meta http-equiv="Content-Security-Policy"
        content="default-src 'self';
                 script-src 'self' 'unsafe-eval' blob:;
                 style-src 'self' 'unsafe-inline';
                 img-src 'self' http://* https://* data:;
                 connect-src *;
                 object-src 'none';
                 frame-src 'self' http://127.0.0.1:8111;">

  <title>NotesReview</title>

  <link rel="shortcut icon" type="image/x-icon" href="./icons/icon.png">

  <script type="application/ld+json">{{{structuredData}}}</script>
</head>
