<div class="columns px-2">
  <div class="column col-12">
    <label class="form-label" for="query">
      <span data-i18n="header.query">Query</span>
      <span class="tooltip tooltip-right" data-tooltip="A word or phrase mentioned in the note" data-i18n data-i18n-data-tooltip="description.query">
        <svg class="icon icon-small"><use xlink:href="#icon-help"></use></svg>
      </span>
    </label>
    <input class="form-input" id="query" type="text">
  </div>

  <div class="column col-6 col-sm-3">
    <label class="form-label" for="limit" data-i18n="header.limit">Limit</label>
    <input class="form-input" id="limit" type="number" value="50" min="0" max="100">
  </div>

  <div class="column col-6 col-sm-9">
    <label class="form-label" for="user" data-i18n="header.user">User</label>
    <input class="form-input" id="user" type="text">
  </div>

  <div class="column col-4 col-sm-12">
    <label class="form-label" for="from" data-i18n="header.from">From</label>
    <input class="form-input" id="from" type="date">
  </div>

  <div class="column col-4 col-sm-12">
    <label class="form-label" for="to" data-i18n="header.to">To</label>
    <input class="form-input" id="to" type="date">
  </div>

  <div class="column col-4 col-sm-12">
    <label class="form-label" for="sort" data-i18n="header.sort">Sort by</label>
    <select class="form-select" id="sort">
      <option value="created_at:descending" data-i18n="description.sort.created.desc">Newest</option>
      <option value="created_at:ascending" data-i18n="description.sort.created.asc">Oldest</option>
      <option value="updated_at:descending" data-i18n="description.sort.updated.desc">Recently updated</option>
      <option value="updated_at:ascending" data-i18n="description.sort.updated.asc">Least recently updated</option>
    </select>
  </div>

  <div class="column col-6 col-sm-12">
    <label class="form-label" for="status" data-i18n="header.status">Status</label>
    <single-selection-button-group id="status" class="btn-group btn-group-block">
      <button class="btn" data-i18n="description.status.all">All</button>
      <button class="btn active" data-value="open" data-i18n="description.status.open">Open</button>
      <button class="btn" data-value="closed" data-i18n="description.status.closed">Closed</button>
    </single-selection-button-group>
  </div>

  <div class="column col-6 col-sm-12">
    <label class="form-label" for="anonymous" data-i18n="header.anonymous">Anonymous notes</label>
    <single-selection-button-group id="anonymous" class="btn-group btn-group-block">
      <button class="btn active" data-value="include" data-i18n="description.anonymous.include">Include</button>
      <button class="btn" data-value="hide" data-i18n="description.anonymous.hide">Hide</button>
      <button class="btn" data-value="only" data-i18n="description.anonymous.only">Only</button>
    </single-selection-button-group>
  </div>

  <div class="column col-6 col-sm-12">
    <label class="form-checkbox">
      <input id="apply-bbox" type="checkbox">
      <i class="form-icon"></i>
      <span data-i18n="description.applyBoundingBox">Search only in current view</span>
    </label>
  </div>

  <div class="column col-6 col-sm-12">
    <label class="form-checkbox">
      <input id="only-uncommented" type="checkbox">
      <i class="form-icon"></i>
      <span data-i18n="description.onlyUncommented">Show only uncommented notes</span>
    </label>
  </div>

  <!-- TODO: Show this information somewhere else -->
  <div id="details" class="columns column col-12">
    <div class="column col-6 col-sm-12">
      <span id="found-notes"></span>
    </div>

    <div class="column col-6 col-sm-12">
      <span id="average-date"></span>
    </div>
  </div>
</div>
